.comment-badge-case{
    position: relative;
}

.comment-badge{
    background-color: tomato;
    padding: 5px 7px;
    border-radius: 15px;
    font-size: 10px;
    color: white;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.ellipsis-badge-case{
    position: relative;
}

.ellipsis-badge{
    color: tomato;
    position: absolute;
    bottom: 17px;
    right: -3px;
}

.cog-badge-case{
    position: relative;
}

.cog-badge{
    color: tomato;
    position: absolute;
    bottom: 18px;
}

.more-icon-case{
    position: relative;
}

.more-icon-badge{
    color: tomato;
    position: absolute;
    font-size: 45px;
    bottom: 48px;
    right: 5px;
}

