.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 25px 25px 25px;
    z-index: 2;
}


.header-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 45px 10px 0;
    background-color: #93B86A;
    display: flex;
    align-items: center;
    
}

.header-title{
    font-size: 35px;
    font-weight: 600;
}

.header-icon i{
    margin-left: 20px;
    font-size: 24px;
}


.setting-header{
    margin: 40px 25px;
    display: flex;
    align-items: center;
}

.setting-header__column{
    width: 33%;
}

.setting-header__column:nth-child(2){
    display: flex;
    justify-content: center;    
}

.setting-header__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.setting-header i {
    color: rgba(0,0,0,.7);
}

.settings-title{
    font-size: 24px;
}



