.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 25px 20px 25px;
}

.header-title{
    font-size: 35px;
    font-weight: 600;
}

.header-icon i{
    margin-left: 20px;
    font-size: 24px;
}

.find-header{
    margin-top: 20px;
}

.setting-header{
    margin-top:15px;
    margin-bottom: 10px;
}

.setting-header i {
    color: rgba(0,0,0,.7);
}

.settings-title{
    font-size: 25px;
}