.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 25px 20px 25px;
}

.header-title{
    font-size: 35px;
    font-weight: 600;
}

.header-icon i{
    margin-left: 20px;
    font-size: 24px;
}