.no-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    position: absolute;
    top: -14px;
    z-index: 5;
}

.no-mobile span{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 645px) {
  .no-mobile {
    display: none;
  }
}