.status-bar {
    display: flex;
    margin: 10px;
    width: 98%;
    box-sizing: border-box;
    top:0;
    
}

.status-bar__chat-fix{
    display: flex;
    padding: 10px 10px 15px 10px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    z-index: 0;
       background-color: #93B86A;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:nth-child(2){
    text-align: center;
    font-weight: 600;
}

.status-bar__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:nth-child(3) .fa-battery-full{
    margin: 0 5px;
}