.status-bar {
    display: flex;
    margin: 5px 10px;
    position: fixed;
    width: 96%;
    top:0;
    z-index: 99;
}

.status-bar__chat-color{
    background-color:#93B86A;
    margin: 0;
    padding: 5px 10px;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:nth-child(2){
    text-align: center;
    font-weight: 600;
}

.status-bar__column:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:nth-child(3) .fa-battery-full{
    margin: 0 5px;
}