.etc-icongroup{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 22px;
}

.etc-textgroup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    font-weight: 600;
}

.etc-textgroup li div{
    display: flex;
    justify-content: center;
}

.etc-textgroup li:last-child{
    margin-right: 10px;
}

.recommended{
   border-top: 1px solid rgba(0,0,0,.1);
   margin: 0 25px;
   padding-top: 15px;
}

.recommended-title{
    color: rgba(0,0,0,.3);
    font-weight: 600;
    font-size: 14px;
}

.recommended-text{
    color: rgba(0,0,0,.4);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.open-chat{
    display: flex;
    margin: 5px 25px;
    justify-content: space-between;
}

.open-chat__title{
    color:rgba(0,0,0,.4);
    font-size: 13px;
    font-weight: 600;
}

.open-chat__text{
    color:rgba(0,0,0,.3);
    font-size: 13px;
    font-weight: 600;
}

.open-chat__text i{
    color: rgba(0,0,0,.2);
    margin-left: 5px;
}

.open-chat__context1{
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 10px;
}

.open-chat__context{
    margin: 0 25px;
    display:flex;
    justify-content: space-between;
}

.open-chat__hashtitle{
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 25px;
}

.open-chat__hash{
    margin-bottom: 5px;
    color: rgba(0,0,0,.3);
    font-weight: 600;
    font-size: 14px;
}

.open-chat__etc-text{
    display: flex;
    align-items: center;
}

.open-chat__etc-text img{
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin-right: 5px;
}

.open-chat__etc-text1{
    color: rgba(0,0,0,.3);
    font-weight: 600;
    font-size: 14px;
}

.vertical-line{
    margin: 8px;
    width: 1px;
    height: 14px;
    background-color: rgba(0,0,0,.3);
}

.open-chat__etc-text2{
    color: rgba(255, 122, 184, 0.719);
    font-weight: 600;
    font-size: 14px;
}

.open-chat__coloumn:nth-child(2){
    position: relative;
}

.open-chat__coloumn:nth-child(2) img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-top: 10px;
}

.heart-icon{
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    bottom: 8px;
}

.heart-icon i {
    font-size: 11px;
    background-color: rgba(0,0,0,.5);
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}

.heart-icon i span{
    margin-left: 5px;
}
