.friends-display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-weight: 600;
    margin: 15px 0px; 
    background-color: rgba(248, 248, 248, 0.808);
}

.friends-display i{
    opacity: 0.2;
}


.channel__header-line{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.channel-title{
    font-weight: 600;
    color: rgba(0,0,0,.35);
}

.channel__header-line i {
    color: rgba(0,0,0,.3);
}