.friends-display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-weight: 600;
    margin: 15px 0px; 
    background-color: rgba(248, 248, 248, 0.808);
}

.friends-display i{
    opacity: 0.2;
}


.channel__header-line{
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.channel-title{
    font-weight: 600;
    color: rgba(0,0,0,.35);
}

.channel__header-line i {
    color: rgba(0,0,0,.3);
}


@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }


}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    top: -10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
}